---
export const prerender = true

import { format } from 'date-fns'
import { getCollection } from 'astro:content'

import MainLayout from '~/layouts/Main.layout.astro'
import { headerStyles } from '~/components/blog/Header/Header.astro'
import Image from '~/components/BlurImage/Image.astro'
import Footer from '~/components/Footer/Footer.astro'
import TOC from '~/components/blog/TOC/TOC'

import { prose } from '~/styles/primitives'
import styles from '~/styles/pages/blogPost.css'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

const { post } = Astro.props
const { Content, headings } = await post.render()

const { slug } = post
const { title, cover, publishedAt } = post.data
---

<MainLayout title={title}>
  <div class={styles.post}>
    <article class:list={[prose, styles.article]}>
      <header>
        <h1 id="overview" class={headerStyles.title}>{title}</h1>
        <time
          class={headerStyles.description}
          datetime={publishedAt.toISOString()}
        >
          {format(publishedAt, 'LLLL d, yyyy')}
        </time>
      </header>
      <Content />
    </article>
    <aside class={styles.aside}>
      <Image
        src={`blog/${slug}/${cover}`}
        alt={`${title}'s Avatar`}
        width={250}
        height={250}
      />
      <!-- <TOC client:idle headings={headings} /> -->
    </aside>
  </div>
  <Footer />
</MainLayout>
