---
import Logo from '~/components/vectors/Logo/Logo.astro'
import ThemeToggle from '~/components/ThemeToggle/ThemeToggle.astro'

import styles from './Navigation.css'

const { pathname } = Astro.url

const isHome = pathname === '/'
const isPage = (pageName: string) => pathname.startsWith(`/${pageName}`)
---

<aside class={styles.aside}>
  <div class={styles.logoAndThemeToggle}>
    <Logo />
    <ThemeToggle />
  </div>

  <nav class={styles.nav}>
    <a
      class:list={[styles.navItem, { [styles.navItemActive]: isHome }]}
      href="/"
    >
      home
    </a>
    <a
      class:list={[styles.navItem, { [styles.navItemActive]: isPage('blog') }]}
      href="/blog"
    >
      blog
    </a>
    <a class={styles.navItem} href="https://github.com/bwyx" target="_blank" rel="noreferrer">
      github
      <svg class={styles.navItemIcon} width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.4769 0.922852H13.6615C13.2923 0.922852 12.9231 1.15362 12.9231 1.52285V2.90747C12.9231 3.2767 13.2462 3.69208 13.6615 3.69208H17.3077C17.7231 3.69208 17.9539 4.15362 17.6308 4.43054L9.78463 12.2767C9.5077 12.5536 9.5077 12.969 9.78463 13.2459L10.7539 14.2152C11.0308 14.4921 11.4462 14.4921 11.7231 14.2152L19.5692 6.36901C19.8462 6.09208 20.3077 6.2767 20.3077 6.69208V10.3382C20.3077 10.7075 20.6769 11.1229 21.0462 11.1229H22.3846C22.7539 11.1229 23.0769 10.7075 23.0769 10.3382V1.56901C23.0769 1.15362 22.8462 0.922852 22.4769 0.922852Z" fill="currentColor"/>
        <path d="M16.7538 11.7691L15.1846 13.3845C14.9077 13.6614 14.7692 13.9845 14.7692 14.3537V19.6153C14.7692 19.9845 14.4461 20.3076 14.0769 20.3076H4.3846C4.01537 20.3076 3.6923 19.9845 3.6923 19.6153V9.92296C3.6923 9.55373 4.01537 9.23066 4.3846 9.23066H9.6923C10.0615 9.23066 10.4308 9.0922 10.6615 8.81527L12.2308 7.24604C12.5077 6.96912 12.3231 6.46143 11.9077 6.46143H2.76922C1.75383 6.46143 0.923065 7.29219 0.923065 8.30758V21.2307C0.923065 22.246 1.75383 23.0768 2.76922 23.0768H15.6923C16.7077 23.0768 17.5384 22.246 17.5384 21.2307V12.0922C17.5384 11.6768 17.0308 11.4922 16.7538 11.7691Z" fill="currentColor"/>
      </svg>
    </a>
    <a class={styles.navItem} href="https://www.instagram.com/baayukurnia/" target="_blank" rel="noreferrer">
      instagram
      <svg class={styles.navItemIcon} width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.4769 0.922852H13.6615C13.2923 0.922852 12.9231 1.15362 12.9231 1.52285V2.90747C12.9231 3.2767 13.2462 3.69208 13.6615 3.69208H17.3077C17.7231 3.69208 17.9539 4.15362 17.6308 4.43054L9.78463 12.2767C9.5077 12.5536 9.5077 12.969 9.78463 13.2459L10.7539 14.2152C11.0308 14.4921 11.4462 14.4921 11.7231 14.2152L19.5692 6.36901C19.8462 6.09208 20.3077 6.2767 20.3077 6.69208V10.3382C20.3077 10.7075 20.6769 11.1229 21.0462 11.1229H22.3846C22.7539 11.1229 23.0769 10.7075 23.0769 10.3382V1.56901C23.0769 1.15362 22.8462 0.922852 22.4769 0.922852Z" fill="currentColor"/>
        <path d="M16.7538 11.7691L15.1846 13.3845C14.9077 13.6614 14.7692 13.9845 14.7692 14.3537V19.6153C14.7692 19.9845 14.4461 20.3076 14.0769 20.3076H4.3846C4.01537 20.3076 3.6923 19.9845 3.6923 19.6153V9.92296C3.6923 9.55373 4.01537 9.23066 4.3846 9.23066H9.6923C10.0615 9.23066 10.4308 9.0922 10.6615 8.81527L12.2308 7.24604C12.5077 6.96912 12.3231 6.46143 11.9077 6.46143H2.76922C1.75383 6.46143 0.923065 7.29219 0.923065 8.30758V21.2307C0.923065 22.246 1.75383 23.0768 2.76922 23.0768H15.6923C16.7077 23.0768 17.5384 22.246 17.5384 21.2307V12.0922C17.5384 11.6768 17.0308 11.4922 16.7538 11.7691Z" fill="currentColor"/>
      </svg>
    </a>
    <a class={styles.navItem} href="https://x.com/0x4b70" target="_blank" rel="noreferrer">
      x
      <svg class={styles.navItemIcon} width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.4769 0.922852H13.6615C13.2923 0.922852 12.9231 1.15362 12.9231 1.52285V2.90747C12.9231 3.2767 13.2462 3.69208 13.6615 3.69208H17.3077C17.7231 3.69208 17.9539 4.15362 17.6308 4.43054L9.78463 12.2767C9.5077 12.5536 9.5077 12.969 9.78463 13.2459L10.7539 14.2152C11.0308 14.4921 11.4462 14.4921 11.7231 14.2152L19.5692 6.36901C19.8462 6.09208 20.3077 6.2767 20.3077 6.69208V10.3382C20.3077 10.7075 20.6769 11.1229 21.0462 11.1229H22.3846C22.7539 11.1229 23.0769 10.7075 23.0769 10.3382V1.56901C23.0769 1.15362 22.8462 0.922852 22.4769 0.922852Z" fill="currentColor"/>
        <path d="M16.7538 11.7691L15.1846 13.3845C14.9077 13.6614 14.7692 13.9845 14.7692 14.3537V19.6153C14.7692 19.9845 14.4461 20.3076 14.0769 20.3076H4.3846C4.01537 20.3076 3.6923 19.9845 3.6923 19.6153V9.92296C3.6923 9.55373 4.01537 9.23066 4.3846 9.23066H9.6923C10.0615 9.23066 10.4308 9.0922 10.6615 8.81527L12.2308 7.24604C12.5077 6.96912 12.3231 6.46143 11.9077 6.46143H2.76922C1.75383 6.46143 0.923065 7.29219 0.923065 8.30758V21.2307C0.923065 22.246 1.75383 23.0768 2.76922 23.0768H15.6923C16.7077 23.0768 17.5384 22.246 17.5384 21.2307V12.0922C17.5384 11.6768 17.0308 11.4922 16.7538 11.7691Z" fill="currentColor"/>
      </svg>
    </a>
  </nav>
</aside>
