---
import { format } from 'date-fns'

import styles from './PostCard.css'

import type { CollectionEntry } from 'astro:content'

export interface Props extends CollectionEntry<'blog'> {}

const { slug, collection, data } = Astro.props
---

<a href={`/${collection}/${slug}`} class={styles.outer}>
  <div>
    <time class={styles.publishedAt} date-time={data.publishedAt}>
      {format(data.publishedAt, 'LLL dd, yyyy')}
    </time>
  </div>
  <h2 class={styles.title}>{data.title}</h2>
</a>
